<ion-header >
  <ion-navbar color="primary">
    <!-- <ion-buttons > -->
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <!-- </ion-buttons> -->
    <ion-title>{{categoryName}}</ion-title>
    <ion-buttons end>
      <button *ngIf="isCordova" ion-button (click)="showIntAd()">
        <ion-icon name="ionic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      <ion-grid no-padding>
          <ion-row>
            <ng-container *ngFor="let post of posts">
              <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>
                <ion-card (click)="openPostDetail(post)">
                  <div class="dimmed" *ngIf="post._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url">
                    <img *ngIf="post._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url" [src]="post._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url"/>
                  </div>
                  <div class="v-center">
                    <div class="card-title" [innerHTML]="post.title.rendered"></div>
                    <div *ngIf="post._embedded['wp:term'][1]" class="card-badge-container">
                      <ion-badge *ngFor="let badge of post._embedded['wp:term'][1]" class="card-badge" item-end [innerHTML]="badge.name" color="secondary"></ion-badge>
                    </div>
                  </div>
                </ion-card>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles"
            loadingText="Loading more data..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>
