page-home {
    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
            height: 200px;
          }

          
          .v-center{
            text-align: center;

          }
          .dimmed {
            position: relative;
            object-fit: cover;
          }
          
          img{
            height: 200px;
            object-fit: cover;
          }
          
          .dimmed:after {
            content: " ";
            display: block;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
          }
        
          .card-title {
            position: absolute;
            top: 25%;
            font-size: 1.8em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            z-index: 20;
            padding: 0 5px 0 5px;
          }

          .card-badge-container {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
          }

          .card-badge {
            position: relative;
            margin-left: 4px;
            z-index: 20;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
          }
        
        }
}
