<!--
  Generated template for the IapSalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Premium Access</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <div id="iap-box">
    <!-- [ngStyle]="{background: 'url(' + postdetail?._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url + ')', background-size: 'cover'}"  -->
    <!-- <div class="iap-image" [ngStyle]="{background: 'url(' + postdetail?._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url + ')'}"> -->
      <!-- <ion-list >
        <ion-item *ngFor="let product of products" >
          <h2 color="primary">{{product.productId}}</h2>
        </ion-item>
      </ion-list> -->
      <!-- <img class="iap-image" *ngIf="postdetail" [src]="postdetail?._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url"/> -->
      <!-- <div class="dimmed"></div> -->
      <div >
        <!-- <h1 id="iap-title" *ngIf="postdetail" [innerHTML]="postdetail?.title.rendered"></h1> -->
        <p  *ngIf="postdetail" [innerHTML]="postcontent"></p>
        <!-- <p *ngIf="products">{{products[0].priceLocale}}{{products[0].description}}{{products[0].localCurrency}}</p> -->
      </div>
      <!-- <p [innerHTML]="postdetail?._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url"></p> -->
      <div text-center>
        <p>
          <span (click)="privacyPolicy()">Privacy Policy</span> - 
          <span (click)="termsOfService()">Terms of Service</span>
        </p>
        </div>
      <button ion-button block (click)="buyProduct()" *ngIf="products">{{postdetail?.title.rendered}} </button>
      <!-- {{products[0].price}} -->
    </div>
  <!-- </div> -->
</ion-content>
