page-iap-sales {

          
        div.dimmed {
            // z-index: -1;
            // display: block;
            position: absolute;
            height: 100% !important;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
        }

        .iap-image{
             /* Set rules to fill background */
            // min-height: 100%;
            // min-width: 1024px;
                
            /* Set up proportionate scaling */
            width: 100%;
            height: 100%;
            z-index: -1;
            /* Set up positioning */
            // position: fixed;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        
        
        .iap-content{
            position: absolute;
            top: 20px;
            width: 100%;
            height: 100%;
        }
        
        #iap-title{
            // color: #fff;
            text-align: center;
          }


        #iap-box{

            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;
        }
        
}
