<ion-split-pane >

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{menuName}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <div *ngFor="let p of pages">
          <button  menuClose ion-item  *ngIf="p.count >= 1" (click)="openCategory(p.id, p.slug, p.name)">
            {{p.name}}
          </button>
        </div>
        <button  menuClose ion-item (click)="openPage('setting')">
            Settings
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>