<!--
  Generated template for the PostDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-title [innerHTML]="postdetail?.title.rendered"></ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6>
        <img *ngIf="postdetail" id="feature-image" [src]="postdetail?._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url"/>
        <h1 *ngIf="postdetail" [innerHTML]="postdetail?.title.rendered"></h1>
        <!-- <p [innerHTML]="postdetail?._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url"></p> -->
        <p *ngIf="postdetail" [innerHTML]="postcontent"></p>

        <!-- <h2 *ngIf="postdetail">You might like</h2> -->

        <ion-list >
          <ion-item *ngFor="let link of postdetail?.acf.relationship" (click)="openLink(link.post_content)">
            <!-- <ion-thumbnail item-start>
              <img src="http://blog.successfulappsecrets.com/wp-content/uploads/2017/06/app-store.png">
            </ion-thumbnail> -->
            <h2>{{link?.post_title}}</h2>
            <!-- <p>Hayao Miyazaki • 1988</p> -->
            <button ion-button clear item-end>View</button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12 col-sm-0 col-md-0 col-lg-4 col-xl-6>
        <!-- <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate vero neque ad hic voluptatibus tenetur fuga, iste ipsam alias blanditiis nulla. Aliquam sequi accusamus enim. Cupiditate et modi vel voluptates!</h1> -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
