<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar color="primary">
      <!-- <ion-buttons > -->
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <!-- </ion-buttons> -->
      <ion-title>Settings</ion-title>
      <!-- <ion-buttons end>
        <button *ngIf="isCordova" ion-button (click)="showIntAd()">
          <ion-icon name="ionic"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>


<ion-content>
    <ion-list>
        <ion-list-header>
            Premium Content
        </ion-list-header>
        <button ion-item (click)="restorePurchase()">Restore Purchase</button>
        <!-- <ion-list-header>
            Notification
        </ion-list-header> -->
        <!-- <ion-item-divider color="light">A</ion-item-divider> -->
        <!-- <ion-item>
            <ion-toggle checked="true"></ion-toggle>
            <ion-label>
              Notification
            </ion-label>
          </ion-item> -->
          <!-- <ion-icon name='body' item-start></ion-icon> -->
    </ion-list>
</ion-content>
